
<div class="homepage">
  <!-- Carrousel -->
  <div class="row">
    <div id="carrousel-container" class="col-md-12">
      <%= render :partial => "layouts/carrousel" %>
    </div>
  </div>

  <!-- Featurette -->
  <div>
    <%= render :partial => "layouts/featurettes/nenep" %>
  </div>

  <div>
    <%= render :partial => "layouts/featurettes/services" %>
  </div>

  <div>
    <%= render :partial => "layouts/featurettes/contact" %>
  </div>
  <!-- End Featurette -->

  <!-- Footer -->
  <div class="row footer-row">
    <div class="col-md-6 promo-footer">
      <%= render :partial => "layouts/footers/promos" %>  
    </div>
    <div class="col-md-6 news-footer">
      <%= render :partial => "layouts/footers/news" %>  
    </div>
  </div>

  <!-- Contact Modal -->
  <%= render :partial => "layouts/contactModal" %>
  <!-- More information modal -->
  <%= render :partial => "layouts/infoModal" %>
</div>