
<div class="container-fluid">
  <!-- Carrousel -->
  <div class="row">
    <div id="carrousel-container" class="col-md-12">
      <%= render :partial => "layouts/carrousel" %>
    </div>
  </div>
  <!-- Featurette -->
  <hr class="featurette-divider">

  <div class="featurette rounded-featurette" id="services">
      <%= image_tag asset_path('servicios.jpg'), class:"featurette-image img-circle img-responsive pull-left" %>
      <h2 class="featurette-heading">Nené Peñaranda
          <small class="text-muted">Grupo Costa Rosario</small>
      </h2>
      <p class="lead">Nené Peñaranda, empresa de viajes y turismo con licencia otorgada por el <strong>Ministerio de Turismo de Argentina N° 12616</strong>, es Agente General Exclusivo para la región sur de la provincia de Santa Fe y norte de la provincia de Buenos Aires, de la compañia <strong>Costa Cruceros</strong>.</p>
      <p class="lead">
      Esta exclusividad la convierte en el sitio especializado para la comercialización de productos de la compañía. Cuenta con un servicio personalizado a cargo de profesionales con una importante formación en la especificidad de las "vacaciones en cruceros".
      </p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette rounded-featurette" id="about">
      <%= image_tag asset_path('nenep-map.png'), class:"featurette-image img-circle img-responsive pull-right" %>
      <!-- <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500"> -->
      <h2 class="featurette-heading">Donde estamos?
          <small class="text-muted">Con mas de 10 años trabajando en Rosario</small>
      </h2>
      <p class="lead">
      Además de los itinerarios marítimos, otras alternativas para viajar están disponibles : servicios aéreos y terrestres en Brasil, Chile y todos los destinos de Argentina como la pousada La Boheme de Buzios, Cataratas del Iguazú, Bariloche, Calafate, NOA argentino, entre otros.
      </p>
  </div>

  <hr class="featurette-divider">
  <div class="featurette rounded-featurette" id="contact">
      <%= image_tag asset_path('qrplanet.png'), class:"featurette-image img-rectangle img-responsive pull-left" %>
      <h2 class="featurette-heading">Su consulta no molesta
          <small class="text-muted"><a href="#" data-toggle="modal" data-target="#contactModal">Contáctenos</a></small>
      </h2>
      <p class="lead">Las consultas son atendidas por un equipo de trabajo que se ocupa de proveer un óptimo asesoramiento, que se adapta a los gustos, intereses y presupuesto de los viajeros.</p>
      <p class="lead">Puede tomar una foto al código QR para enviar un mail personalizado a nuestro equipo o simplemente hacer click en <a data-toggle="modal" data-target="#contactModal">Contactenos</a> para acceder a nuestro formulario</p>

  </div>
  <!-- End Featurette -->

  <!-- Footer -->
  <div class="row footer-row">
    <div class="col-md-6 promo-footer">
      <div class="panel panel-info">
        <div class="panel-heading center">
          <h1 align="center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePromos" class="collapsed" aria-expanded="true" aria-controls="collapsePromos">
              <strong>Destinos</strong>
              <span class="pull-right glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span>
            </a>
          </h1>
        </div>
        <div id="collapsePromos" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="media">
            <a class="media-left media-top" href="#">
              <img src="caribe-chico.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a>Mediterráneo (5 noches)</a> <small>desde x persona $10.000</small></h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
                <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
                <li class="list-group-item"><strong>Noches:</strong> 7</li>
                <li class="list-group-item">
                  <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                      Ver más
                      <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
                    </a>
                    <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                      Consultar
                      <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="media">
            <a class="media-left media-top" href="#">
              <img src="costa_fortuna400.jpg" alt="...">
            </a>
                        <div class="media-body">
              <h4 class="media-heading"><a>Mediterráneo (5 noches)</a> <small>desde x persona $10.000</small></h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
                <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
                <li class="list-group-item"><strong>Noches:</strong> 7</li>
                <li class="list-group-item">
                  <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                      Ver más
                      <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
                    </a>
                    <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                      Consultar
                      <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="media">
            <a class="media-left media-top" href="#">
              <img src="caribe-chico.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a>Mediterráneo (5 noches)</a> <small>desde x persona $10.000</small></h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
                <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
                <li class="list-group-item"><strong>Noches:</strong> 7</li>
                <li class="list-group-item">
                  <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                      Ver más
                      <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
                    </a>
                    <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                      Consultar
                      <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="media">
            <a class="media-left media-top" href="#">
              <img src="costa_fortuna400.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a>Mediterráneo (5 noches)</a> <small>desde x persona $10.000</small></h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
                <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
                <li class="list-group-item"><strong>Noches:</strong> 7</li>
                <li class="list-group-item">
                  <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                      Ver más
                      <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
                    </a>
                    <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                      Consultar
                      <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="media">
            <a class="media-left media-top" href="#">
              <img src="caribe-chico.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a>Mediterráneo (5 noches)</a> <small>desde x persona $10.000</small></h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
                <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
                <li class="list-group-item"><strong>Noches:</strong> 7</li>
                <li class="list-group-item">
                  <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                      Ver más
                      <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
                    </a>
                    <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                      Consultar
                      <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="media">
            <a class="media-left media-top" href="#">
              <img src="costa_fortuna400.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a>Mediterráneo (5 noches)</a> <small>desde x persona $10.000</small></h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
                <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
                <li class="list-group-item"><strong>Noches:</strong> 7</li>
                <li class="list-group-item">
                  <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                      Ver más
                      <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
                    </a>
                    <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                      Consultar
                      <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 news-footer">
      <div class="panel panel-primary">
        <div class="panel-heading center">
          <h1 align="center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNews" class="collapsed" aria-expanded="true" aria-controls="collapseNews">
              <strong>Literaturas de viaje</strong>
              <span class="pull-right glyphicon glyphicon-info-sign" style="margin-left: 10px;"></span>
            </a>
          </h1>
        </div>
        <div id="collapseNews" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <% @articles.each do |article|%>
          <div class="media">
            <a class="media-left media-top" href="/welcome/articles/<%= article.id %>">
              <%= image_tag article.photo.url(:small) %>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a><%= article.title %></a> <small><%= truncate(article.detail, length: 30)%> - <%= article.date.strftime("%d/%m/%Y")%></small></h4>
              <p class="lead"><%= truncate(article.text, length: 200) %></p>
            </div>
          </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Modal -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="contactModalLabel">Su consulta sera respondida por un operador a la brevedad</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Nombre y apellido:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group form-inline">
                  <label for="is-provider" class="control-label">Mayorista?</label>
                  <input type="checkbox" class="form-control" id="is-provider">
                </div>
              </div>
              <div class="col-md-10">
                <div id="provider-container" class="form-group" style="display: none;">
                  <label for="provider-name" class="control-label">Mayorista al que representa:</label>
                  <input type="text" class="form-control" id="provider-name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone" class="control-label">Teléfono:</label>
                  <input type="text" class="form-control" id="phone">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="control-label">Email:</label>
                  <input type="text" class="form-control" id="email">
                </div>
              </div>
            </div>
            
            
            <div class="form-group">
              <label for="message-text" class="control-label">Consulta:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- More information modal -->
  <!-- Modal -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="infoModalLabel">Mediterráneo</h4>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <img src="banner1.jpg"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="modal-body">
              La bella Málaga, con sus características calles y los paseos arbolados, la belleza cegadora de la Alcazaba, baluarte de la resistencia morisca, y la fortaleza de Gibralfaro: el recorrido por la ciudad incluye una visita a la fortaleza fenicia. Las excursiones a Mijas, Marbella y Puerto Banús revelan el carácter andaluz, típico de las ciudades que rodean a Málaga. No te puedes perder la visita a las cuevas de Nerja.
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>Itinerario:</strong> Civitavecchia > Palermo > La Goulette > Barcelona > Marseille > Génova > Civitavecchia</li>
              <li class="list-group-item"><strong>Fechas:</strong> 13/01/2015 - 21/01/2015</li>
              <li class="list-group-item"><strong>Noches:</strong> 7</li>
            </ul>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Enviar consulta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>