<div class="panel panel-info">
  <div id="collapsePromos" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <% @products.each do |product| %>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading"><a><%= product.name %></a> <small><strong><%= product.price %></strong></small></h3>
        <ul class="list-group">
          <li class="list-group-item"><strong>Itinerario:</strong> <%= product.itinerary %></li>
          <li class="list-group-item"><strong>Salida:</strong> <%= product.startDate %>
          <strong> - Noches:</strong> <%= product.nights %> </li>
          <% if !product.boatName.empty? %>
          <li class="list-group-item">
            <strong> Crucero: </strong><a href="<%= product.boatLink %>" target="_blank"> <%= product.boatName %> </a>
          </li>
          <% end %>
          <% if !product.hotelName.empty? %>
          <li class="list-group-item">
            <strong> Alojamiento: </strong><a href="<%= product.hotelLink %>" target="_blank"> <%= product.hotelName %> </a>
          </li>
          <% end %>
          <% if !product.flightName.empty? %>
          <li class="list-group-item">
            <strong> Vuelo: </strong><%= product.flightName %> <strong> - Desde: </strong><%= product.flightFrom %> <strong> - Hasta: </strong><%= product.flightTo %>
          </li>
          <% end %>
          <li class="list-group-item">
            <div id="promo-options" class="btn-group btn-group-justified" role="group" aria-label="...">
              <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">
                Ver más
                <span class="pull-right glyphicon glyphicon-eye-open" style="margin-left: 10px;"></span>
              </a>
              <a data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg">
                Consultar
                <span class="pull-right glyphicon glyphicon-question-sign" style="margin-left: 10px;"></span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>

  <div class="panel-heading center">
    <h1 align="center">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapsePromos" class="collapsed" aria-expanded="true" aria-controls="collapsePromos">
        <strong>Destinos</strong>
        <span class="pull-right glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span>
      </a>
    </h1>
  </div>
</div>